export HF_TOKEN=
export PYTHONPATH=
export BIGDATA_KAFKA_HOST=
export MAIN_KAFKA_HOST=
export AI_MONGO_URL=
export SEARCH_API_KEY=
export SEARCH_ENGINE_ID=
export ONTIC_INTERNAL_ENDPOINT=
export ERR_LOG_FILE_PATH=
export LOG_FILE_PATH=